body{
	background:url(../images/body_bg.jpg) repeat;
	color:#000;
}

.header{
	height: 43px;
	width:960px;
	margin-right:auto;
	margin-left:auto;
	display:block;
	overflow: hidden;
	background:  url(../images/ribbon_center.jpg) repeat-x;
	margin-top:30px;
	
}

.header .social{
	float:right;
}

.header .social ul li{
	float:left;
	margin-top:10px;
	margin-right:10px;
	margin-left:0px;
	list-style: none;
}

.header .menu ul{
	float:left;
}

.header .menu ul li{
	float:left;
	list-style:none;
	font-size: 30px;
	font-family: "Book Antiqua";
	font-weight: bold;
	
}

.header .menu ul li a{
	color:#0ff;
	text-decoration: none;
}

.header .menu ul li a:hover{
	color:#fff;
	
}

div.contact{

	margin-top:30px;
}

.FIO{
	color: #022e63;
	font-size:50px;
	font-weight: bold;
	margin-top:40px;
	display: block;
}

.art_director{
	color:#898989;
	font-size:35px;
	padding:0;
	margin:0;
	line-height: 35px;
}

span.available_for{
	color:#898989;
	font-size:24px;
	display: block;	
}

span.hire_and_freelance_work{
	display:block;
	color:#022E63;
	font-size:20px;
}

.web_site_email_address_bold_title{
	color:#000000;
	font-weight: bold;
	font-size:18px;
	display: block;
}

.web_site_email_address_values{
	display:block;
	color:#898989;
	font-size:16px;
	font-weight: bold;
	padding-top: 5px;
}

.content div{
	margin-top:10px;
}

.blue_title{
	color:#1b579e;
	font-size:23px;
	font-weight: bold;
}

img.photo{
	margin-right:15px;
	float:left;
}

.plain_grey_text{
	color:#737475;
	font-size:14px;
	text-align: justify;
}

label {
	color:#737475;
	font-size:18px;
	text-align: justify;
	float:left;
	width:90px;
}

.black_bold_text{
	color:#000;
	font-weight: bold;
	font-size:16px;
}

div.skills ul li{
	list-style: none;
	display:block;
	
}

div.skills ul li img{
	float:right;
}

img.margin_bottom_20{
	margin-bottom: 20px;
	display: block;
}

.plain_text_blak_24{
	color: #000000;
	font-size:24px;
}

.plain_text_blak_18{
	color: #000000;
	font-size:20px;
	font-family: "Calisto MT";
}

.years{
	background-color: #898989;
	color:#fff;
	font-size:17px;
	font-weight: bold;
	margin-right:50px;
	float: right;
}

.portfolio{
	padding-top:10px;
	padding-bottom: 10px;
}

img.portfolio_photo{
	margin-top: 20px;
	margin-left: 33px;
}

div.horizontal_solid_grey_delimiter{
	width:960px;
	height:2px;
	background: url(../images/grey_solid_delimiter.jpg) repeat-x;
	margin-top:40px;
	margin-bottom:20px;
	padding-bottom:10px;
	clear:both;
}

div.horizontal_dotted_grey_delimiter{
	width:450px;
	height:3px;
	background: url(../images/grey_delimiter_dotted_little.jpg) repeat-x;
	margin-bottom:20px;
}

.footer{
	
}

.work_together ul{
	list-style: url(../images/list_grey_circle.jpg);
}

.work_together ul li{
	padding-right:20px;
	color:#737475;
	font-size:14px;
	text-align: justify;
}

.footer input[type=text],textarea{
	background: #FFFFFF;
	height:26px;
	width:350px;
	font-size:16px;
	border-left: #dfdfdf solid 2px;
	border-right: #dfdfdf solid 2px;
	border-top: #c2c2c2 solid 1px;
	border-bottom: #c2c2c2 solid 1px;
	padding:5px;
	margin:0 0 10px;
	
}


textarea{
	background: #FFFFFF;
	height:80px;
	width:350px;
	font-size:16px;
	border-left: #dfdfdf solid 2px;
	border-right: #dfdfdf solid 2px;
	border-top: #c2c2c2 solid 1px;
	border-bottom: #c2c2c2 solid 1px;
	padding:5px;
	margin:0 0 10px;
	
}

input[type=submit]{
	color: red;
	float:right;
	text-indent:-9999px;
	background:url(../images/submit.jpg) transparent;
	cursor:pointer;
	width:100px;
	height:35px;
	margin-bottom: 10px;
}